In [15]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model

In [13]:

df = pd.read_csv('YA_rawRT.csv')
coded_pos1 = [0]*len(df)
coded_pos2 = [0]*len(df)
avr_rt = [0]*len(df)

In [14]:
for i, x in enumerate(df['Position']):
    if x == 1:
        coded_pos1[i] = -1
        coded_pos2[i] = -1
    elif x == 2:
        coded_pos1[i] = 1
        coded_pos2[i] = 0
    else:
        coded_pos1[i] = 0
        coded_pos2[i] = 1
for i, x in enumerate(df['RT']):
    avr_rt[i] = x-np.mean(df['RT'])
df['coded_pos1'] = coded_pos1
df['coded_pos2'] = coded_pos2
df['avr_rt'] = avr_rt
df

,RT,Syllable,Position,Occurrence,Subject,Condition,coded_pos1,coded_pos2,avr_rt
0,0.4426,ni,2,1,5ff649fda2b5841ceef90ff0,3,1,0,-0.053026
1,0.3550,ni,2,1,5ff649fda2b5841ceef90ff0,3,1,0,-0.140626
2,0.2206,ni,2,1,5ff649fda2b5841ceef90ff0,3,1,0,-0.275026
3,0.4241,ni,2,1,5ff649fda2b5841ceef90ff0,3,1,0,-0.071526
4,0.5358,fu,1,1,5ff649fda2b5841ceef90ff0,3,-1,-1,0.040174
...,...,...,...,...,...,...,...,...,...
234,0.4503,ni,3,3,60dc4b08dd9ec36f5ca9e3fa,1,0,1,-0.045326
235,0.7957,ni,3,3,60dc4b08dd9ec36f5ca9e3fa,1,0,1,0.300074
236,0.8474,ni,3,3,60dc4b08dd9ec36f5ca9e3fa,1,0,1,0.351774
237,0.4087,fu,2,3,60dc4b08dd9ec36f5ca9e3fa,1,1,0,-0.086926
238,0.4689,fu,2,3,60dc4b08dd9ec36f5ca9e3fa,1,1,0,-0.026726

In [22]:
ind_model = linear_model.LinearRegression()
X = df[['coded_pos1', 'coded_pos2']]
Y = df['avr_rt']
ind_model.fit(X, Y)

LinearRegression()